body {
    color: #aaaaaa;
    background-color: #777777;
}

.header {
    margin: 0 auto;
    width: 78%;
    background-color: #000;
    height: 50px;
    display: flex;
}
.header__logo {
    background-image: url('../images/test_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    flex: 1;
}
.header__menu {
    width: 70%;
    font-family: arial;
    padding-right: 10px;
    text-align: right;
    line-height: 2.5em;
    font-size: 120%;
}

.footer {
    background-color: #000;
    width: 78%;
    height: 70px;
    margin: 0 auto;
}

.expositor {
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 20px;
    width: 78%;
}

.expositor__module {
    background-color: #bbbbbb;
    margin-bottom: 20px;
    width: 360px;
    height: 280px;
    box-sizing: border-box;
}

@media (min-width: 850px) {
    .expositor {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 850px) {
    .expositor__module {
        margin-top: 10px;
        width: 100%;
        flex: 1;
    }

    .expositor {
        width: 95%;
    }

    .header {
        width: 95%;
    }

    .footer {
        width: 95%;
    }

    .header__menu {
        font-size: 80%;
        padding-right: 20px;
        line-height: 4em;
    }
}

.expositor__module:nth-child(1) {background-color: #ffffff;}
.expositor__module:nth-child(2) {background-color: #eeeeee;}
.expositor__module:nth-child(3) {background-color: #cccccc;}
.expositor__module:nth-child(4) {background-color: #bbbbbb;}
.expositor__module:nth-child(5) {background-color: #aaaaaa;}
.expositor__module:nth-child(6) {background-color: #999999;}
