.base-parallax {
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.parallax--first {
    background-image: url('../images/test.jpg');
    padding-bottom: 35%;
}

.parallax--second {
    background-image: url('../images/test_2.jpg');
    padding-bottom: 25%;
    background-position: 0 60px;
}

.parallax--third {
    background-image: url('../images/test.jpg');
    padding-bottom: 25%;
}

@media (max-width: 1100px) {
    .parallax--third {
        background-position: 0 400px;
    }
}
